LoginButton {
    text-align: center;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16;
    cursor: pointer;
    background-color: #ff8800;
    padding: 15px 32px;
    width: 100%;
    margin-bottom: 5px;
}
/*
button:hover {
    opacity: 0.8;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.LoginHeader {
    font-size: 1em;
}
*/
:LoginContainer {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
/*
label {
    margin-top: 10px;
}
form {
    border: 3px solid #f1f1f1;
    padding: 10px;
}
*/